#navbar{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
   transition: 0.5s;
   overflow-x: hidden;
}
#navbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  #navbar a:hover {
   background-color: grey;
   color: white;
  }
  #navbar a:active{
    background-color: rgb(60, 240, 60);
  }

  .main-section {
    margin-left: 160px; 
    padding: 0px 10px;
  }
  @media screen and (max-height: 450px) {
    #navbar {padding-top: 15px;}
    #navbar a {font-size: 18px;}
  }